<div class="my-5 w-full text-gray-500">
  <div class="text-center mb-10 text-xl font-bold text-gray-500">
    Porte-monnaie
  </div>

  <div class="flex flex-col space-y-5 px-20">
    <div
      class="px-4 py-2 rounded-md bg-primary flex justify-between text-white font-bold"
    >
      <div>Cette Semaine</div>
      <div>65 €</div>
    </div>
    <div
      class="px-4 py-2 rounded-md bg-primary flex justify-between text-white font-bold"
    >
      <div>Ce mois-ci</div>
      <div>865 €</div>
    </div>
    <div
      class="px-4 py-2 rounded-md bg-primary flex justify-between text-white font-bold"
    >
      <div>Cette année</div>
      <div>2500 €</div>
    </div>
    <div
      class="px-4 py-2 rounded-md border border-primary flex justify-between text-primary font-bold"
    >
      <div>En attente de virement</div>
      <div>80 €</div>
    </div>
    <div>
      <div
        class="px-4 py-2 rounded-md border border-primary flex justify-between text-primary font-bold"
      >
        <div>Réaliser un virement</div>
        <div><img src="assets/edit.svg" alt="" srcset="" /></div>
      </div>
      <div class="flex justify-end pr-10 text-white">
        <span class="bg-primary rounded-b-lg px-5 py-1">Entrer</span>
      </div>
    </div>
  </div>
</div>
