<div class="mt-5 w-full text-gray-500">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 px-5">
    <div class="col-span-1 text-left">
      <div class="border border-primary px-5 py-2 text-xl font-bold">
        Informations
      </div>
      <div
        class="border border-primary px-5 py-2 grid md:grid-cols-2 grid-cols-3 justify-between"
      >
        <div class="text-left">Email</div>
        <div class="text-left">caroline61@gmail.com</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Téléphone</div>
        <div>00734231794</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div class="col-span-1">Nom</div>
        <div class="col-span-2">Mondoha</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Prénom</div>
        <div>Marianou</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Adresse</div>
        <div>27 rue d’aquitaine</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Code postal</div>
        <div>Mondoha</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Ville</div>
        <div>Nantes</div>
      </div>
    </div>

    <div class="col-span-1 text-center">
      <div class="border border-primary px-5 py-2 text-xl font-bold">
        Compte bancaire
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-1 justify-between"
      >
        <div class="">Nom de la banque : caisse d’épargne</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-1 justify-between"
      >
        <div>IBAN : FR76 3000 58 3400 039</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-1 justify-between"
      >
        <div>Bic : CE120U72</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-1 justify-between"
      >
        <div class="flex flex-row gap-5">
          <img src="assets/edit.svg" alt="" srcset="" /> Editer
        </div>
      </div>
    </div>
  </div>
</div>
