<app-header></app-header>
<div class="grid grid-cols-4">
  <div class="hidden md:grid md:col-span-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-span-4 md:col-span-3">
    <!-- end -->
    <div class="pt-10 pb-5 px-5 flex flex-col justify-center items-center">
      <div class="text-center mb-10 text-3xl font-bold text-gray-700">
        Nouvelle reservation
      </div>

      <div
        class="border rounded-xl p-5 md:mx-20 flex flex-col gap-5 text-slate-500"
      >
        <div class="flex flex-row justify-between">
          <div class="flex flex-row mr-16">
            <div>
              <img
                [src]="
                  reservation?.cliente.imageURL === 'default.png'
                    ? 'assets/default.png'
                    : 'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/profile%2F' +
                      reservation?.cliente.imageURL.split('/')[1] +
                      '?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'
                "
                alt=""
                srcset=""
                class="w-28"
              />
            </div>
            <div class="flex flex-col justify-between px-4 py-2">
              <div>{{ reservation?.cliente.prenom }}</div>
              <div class="flex flex-row gap-2">
                <img src="assets/marker.svg" alt="" srcset="" />
                {{ reservation?.cliente.ville }}
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-2 items-end">
            <div class="flex flex-row space-x-2 items-center">
              <div class="py-2 px-2 bg-primary-op rounded-lg">
                <img class="w-5" src="assets/msg.svg" alt="" />
              </div>
              <span class="hidden md:block">Contacter</span>
            </div>
            <div>Tel: {{ reservation?.cliente.numero }}</div>
          </div>
        </div>
        <div class="flex flex-row gap-6">
          <img src="assets/calendar.svg" alt="" />
          <div class="flex flex-col">
            <span>Le {{ reservation?.date | date: "EEEE d MMMM y" }}</span>
            <span>entre {{ reservation?.disponibilite.plage }}</span>
          </div>
        </div>
        <div class="flex flex-row gap-5">
          <img src="assets/prestation.svg" alt="" />
          <div class="flex flex-col">
            <span>{{ reservation?.prestation.prestation.prestation }}</span>
          </div>
        </div>

        <div
          class="flex flex-col md:flex-rows justify-between space-y-5 items-centers"
        >
          <div class="flex flex-row gap-4 items-center">
            <img src="assets/carte.svg" alt="" />
            <div class="flex flex-col">
              <span class="md:whitespace-nowrap"
                >Paiement par carte bancaire</span
              >
            </div>
          </div>
          <div *ngIf="modify" class="border rounded-lg">
            <div class="px-2 py-1 border-b">
              <span class="text-primary">Ancienne coiffeuse :</span>
              {{ reservation?.coiffeuse.prenom }}
              {{ reservation?.coiffeuse.nom }}
            </div>
            <div class="px-2 py-1 flex flex-row">
              <span class="text-primary whitespace-nowrap"
                >Ancienne coiffeuse :&nbsp;
              </span>
              <div class="w-full">
                <mat-select [(ngModel)]="coiffeuse">
                  <mat-option
                    *ngFor="let coiffeuse of coiffeuses"
                    [value]="coiffeuse"
                    >{{ coiffeuse?.prenom }} {{ coiffeuse?.nom }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
          </div>
          <div
            class="py-2 px-3 bg-primary-op rounded-lg flex justify-center md:mt-5 cursor-pointer"
            *ngIf="!modify"
          >
            <span class="text-primary" (click)="notif()"
              >Changer de coiffeuse</span
            >
          </div>
          <div class="flex justify-between space-x-2 md:mt-5" *ngIf="modify">
            <div
              class="py-2 px-3 bg-primary-op rounded-lg flex justify-center cursor-pointer"
            >
              <span class="text-primary" (click)="updateacoiffeuse()"
                >Valider le changement de coiffeuse</span
              >
            </div>
            <div
              class="rounded-lg flex justify-center cursor-pointer"
              (click)="close()"
            >
              <img src="assets/close.svg" alt="" srcset="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
