<div class="my-5 w-full text-gray-500">
  <div class="text-center mb-10 text-xl font-bold text-gray-500">
    Liste des coiffeuses
  </div>
  <div class="grid grid-cols-2 space-x-5">
    <div class="">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </div>

    <div class="flex flex-col space-y-2 items-cente justify-center">
      <mat-slide-toggle [(ngModel)]="plage1">Slide me!</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="plage2">Slide me!</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="plage3">Slide me!</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="plage4">Slide me!</mat-slide-toggle>
    </div>
  </div>
</div>
