<app-header></app-header>
<div class="grid grid-cols-4">
  <div class="hidden md:grid md:col-span-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-span-4 md:col-span-3">
    <!-- end -->
    <div class="my-5 w-full text-gray-500">
      <div class="text-center mb-10 text-xl font-bold text-gray-500">
        Réservations
      </div>
      <div class="px-5">
        <div class="flex flex-row space-x-5 mb-5">
          <div>Recherche</div>
          <div>
            <input
              placeholder="Par prénom"
              class="px-3 py-1 border border-primary rounded-l-md"
              [(ngModel)]="prenom"
              (keyup)="Filter()"
            />
            <input
              placeholder="Par ville"
              [(ngModel)]="ville"
              (keyup)="Filter()"
              class="px-3 py-1 border border-primary rounded-r-md"
            />
          </div>
        </div>
        <div class="grid grid-cols-7 mb-5 justify-center items-center">
          <div
            class="col-span-1 font-bold text-md text-center"
            *ngFor="let header of headers"
          >
            {{ header }}
          </div>
        </div>
        <div
          *ngFor="let coiffeuse of reservations"
          class="grid grid-cols-7 items-center text-center justify-center border rounded-lg mb-5 px-5 py-2 text-sm text-gray-500"
          [ngClass]="coiffeuse.cliente ? '' : 'none'"
        >
          <div class="flex flex-col gap-1 items-center">
            <img
              class="rounded-full w-10 h-10"
              [src]="
                coiffeuse.imageURL === 'default.png'
                  ? 'assets/default.png'
                  : 'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/profile%2F' +
                    coiffeuse?.cliente?.imageURL.split('/')[1] +
                    '?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'
              "
              alt=""
              srcset=""
            />
            <div>{{ coiffeuse?.cliente?.prenom }} {{ coiffeuse?.prenom }}</div>
          </div>

          <div>{{ coiffeuse?.cliente?.ville }}</div>
          <div>{{ coiffeuse?.cliente?.email }}</div>
          <div>
            {{ coiffeuse?.createdAt | date: "d-MM-y" }}
          </div>
          <div>{{ coiffeuse?.prestation?.prestation?.prestation }}</div>
          <div class="flex justify-center">
            <span
              matRipple
              matRippleColor="#ff3a7749"
              class="px-2 py-1 rounded-lg cursor-pointer"
            >
              <img src="assets/msg.svg" alt="" srcset="" />
            </span>
          </div>
          <div class="flex justify-center gap-2 items-center">
            <span
              class="rounded-lg px-1 py-1 border-2 border-primary text-primary cursor-pointer"
              matRipple
              matRippleColor="#ff3a7749"
              (click)="cancelReservation(coiffeuse._id)"
              >Annuler</span
            >
            <mat-label></mat-label>
            <mat-select>
              <mat-option>Demander un avis client</mat-option>
            </mat-select>
          </div>
        </div>
        <div
          class="w-full flex felx-row space-x-5 justify-center items-center mt-10"
        >
          <div
            class="cursor-pointer text-primary italic text-sm"
            (click)="prev()"
          >
            Précédent
          </div>
          <div
            class="cursor-pointer text-primary italic text-sm"
            (click)="next()"
          >
            Suivant
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
