<app-header></app-header>
<div class="grid grid-cols-4">
  <div class="hidden md:grid md:col-span-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-span-4 md:col-span-3">
    <!-- end -->
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="!loading" class="my-5 w-full text-gray-500">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5 px-5">
        <div class="col-span-1 text-left">
          <div class="border border-primary px-5 py-2 text-xl font-bold">
            Informations
          </div>
          <div
            class="border border-primary px-5 py-2 grid md:grid-cols-2 grid-cols-3 justify-between"
          >
            <div class="text-left">Email</div>
            <div class="text-left">{{ coiffeuse?.email }}</div>
          </div>
          <div
            class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
          >
            <div>Téléphone</div>
            <div>{{ coiffeuse?.numero }}</div>
          </div>
          <div
            class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
          >
            <div>Nom</div>
            <div>{{ coiffeuse?.nom }}</div>
          </div>
          <div
            class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
          >
            <div>Prénom</div>
            <div>{{ coiffeuse?.prenom }}</div>
          </div>
          <!-- <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Adresse</div>
        <div>27 rue d’aquitaine</div>
      </div>
      <div
        class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
      >
        <div>Code postal</div>
        <div>Mondoha</div>
      </div> -->
          <div
            class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
          >
            <div>Ville</div>
            <div>{{ coiffeuse?.ville }}</div>
          </div>
        </div>
        <div class="col-span-1 text-center">
          <div class="border border-primary px-5 py-2 text-xl font-bold">
            Prestation proposées
          </div>
          <div
            class="border border-primary px-5 py-2 grid grid-cols-2 justify-between"
            *ngFor="let prestation of prestations"
          >
            <div class="">{{ prestation?.prestation?.prestation }}</div>
            <div class="">{{ prestation?.tarif }}€</div>
          </div>
        </div>

        <div class="col-span-2 text-center">
          <div class="mt-5">Galerie</div>
          <div class="grid grid-cols-6 gap-3">
            <div *ngFor="let galerie of galeries">
              <img
                class="rounded-lg"
                [src]="
                  galerie.imageURL === 'default.png'
                    ? 'assets/default.png'
                    : 'https://firebasestorage.googleapis.com/v0/b/bigoodee-79097.appspot.com/o/galerie%2F' +
                      galerie.imageURL.split('/')[1] +
                      '?alt=media&token=4f39ff84-15a9-4f1d-8e9a-fcc5541147bd'
                "
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>

        <div>
          <div class="border border-primary">
            <div class="text-center px-5 py-3">Biographie</div>
            <div class="text-center border-t px-5 py-3 border-primary">
              {{ coiffeuse?.biographie }}
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center space-y-3">
          <div
            style="background-color: #1ea807; color: white"
            class="rounded-lg py-2 px-5 text-center cursor-pointer"
            matRipple
            (click)="validate()"
          >
            <span>Valider ce compte</span>
          </div>
          <div
            class="rounded-lg py-2 px-5 cursor-pointer text-center border border-primary text-primary"
            matRipple
            matRippleColor="#ff3a7749"
            (click)="delete()"
          >
            Supprimer ce compte
          </div>
          <div
            class="flex flex-row rounded-lg py-2 px-5 cursor-pointer items-center space-x-3 text-center bg-primary-op text-primary"
            matRipple
          >
            <img src="assets/msg.svg" alt="" />
            Contacter
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
